# Node
node_modules/
dist/

# Spring Boot
target/
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Environment files
.env
.env.*
!.env.example

# Python
.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
ml-services/indicator-training/
